accelerate==0.30.1
decord==0.6.0
deepspeed==0.15.4
diffusers==0.31.0
einops==0.8.0
huggingface-hub==0.30.2
imageio==2.34.1
lightning-utilities==0.12.0
objaverse==0.1.7
omegaconf==2.3.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
pandas==2.2.3
pillow==11.0.0
taming-transformers==0.0.1
xformers==0.0.23
transformers==4.43.3
numpy==1.26.4